Django~=6.0.6
celery~=5.6.3
pandas~=3.0.3
djangorestframework~=3.17.1
reportlab~=5.0.0
pdfplumber~=0.11.10
python-docx~=1.2.0
openpyxl~=3.1.5
python-dotenv~=1.2.2
gunicorn~=23.0.0
psycopg2-binary~=2.9.10
redis~=5.2.1
whitenoise~=6.8.2
django-storages~=1.14.6
boto3~=1.35.99